
@media screen and (max-width: 650px) {
	/*
	body p {font-size:100% !important; }

	#back-top { display:none !important; }
	.breadcrumb {font-size:70%;  } 
	.breadcrumb img {box-shadow:none; }
	.content-sub {padding-bottom:400px; }
	.content-sub iframe {height:auto; }
	*/
}